<<<<<<< HEAD
Ôªø<!-- Âä†ÂØÜÂäüËÉΩ -->
=======
<!-- º”√‹π¶ƒ‹ -->
>>>>>>> 0e42d1996ebec40afa00e2fc65351f41fd85d46e
<% if (theme.PhotoVerifyPassword.enable) { %>
    <script src="<%- theme.libs.js.crypto %>"></script>
    <script>
        (function() {
            let pwd = '<%- page.password %>';

            if (pwd && pwd.length > 0) {
                if (pwd !== CryptoJS.SHA256(prompt('<%- theme.PhotoVerifyPassword.promptMessage %>')).toString(CryptoJS.enc.Hex)) {
                    alert('<%- theme.PhotoVerifyPassword.errorMessage %>');
                    location.href = '<%- url_for("/")  %>';
                }
            }
        })();
    </script>
<% } %>

<!-- <%- partial('_partial/bg-cover') %> -->

<link rel="stylesheet" href="<%- theme.libs.css.baguetteBoxCss %>">
<<<<<<< HEAD
<!-- ËØ•‰∏ªÈ¢òËá™Â∏¶ÁöÑlightGallery.jsÂú®ÂõæÁâáÂ§öÁöÑÊó∂ÂÄô‰ºöÂæàÂç°ÔºåÊâÄ‰ª•ÂºÉÁî®Ôºå‰ΩøÁî®‰∫Ü‰∏Ä‰∏™ÊàëÂú®ÁΩë‰∏äÊâæÁöÑbaguetteBoxÔºåÂæàËΩªÈáèÁ∫ßÔºåÂ∞±ÊòØÂäüËÉΩÂ∞ë‰∫ÜÁÇπ -->
<script src="<%- theme.libs.js.baguetteBoxJs %>"></script> 

<!-- baguetteBox -->
document.write('<link rel="stylesheet" href="/libs/MyGallery/css/baguetteBox.css">');
<script type="text/javascript">
	document.write('<script type="text/javascript" src="/libs/MyGallery/js/baguetteBox.js"><\/script>');
</script>



=======
<!-- ∏√÷˜Ã‚◊‘¥¯µƒlightGallery.js‘⁄Õº∆¨∂‡µƒ ±∫Úª·∫‹ø®£¨À˘“‘∆˙”√£¨ π”√¡À“ª∏ˆŒ“‘⁄Õ¯…œ’“µƒbaguetteBox£¨∫‹«·¡øº∂£¨æÕ «π¶ƒ‹…Ÿ¡Àµ„ -->
<script src="<%- theme.libs.js.baguetteBoxJs %>"></script> 
>>>>>>> 0e42d1996ebec40afa00e2fc65351f41fd85d46e
<style>    
    .my-gallery .photo img {
        transition: all 0.6s ease-in-out; 
    }     
    .my-gallery .photo:hover img {
        opacity: 0.6;
        transform: scale(1.05);
    }      
    .my-gallery {
        margin: 20px auto;
    }   
    .miaoshus .title {
        font-family: MV Boli;
    }
    .miaoshus {
        padding: 20px;
        border: 1px dashed #e6e6e6;
        color: #969696;
        position: relative;
        display: inline-block;
        width: 75%;
        background: #fbfbfb50;
        border-radius: 10px;
        font-size: 16px;
        margin: 24px auto 12px;
        
    }
    body.dark .miaoshus {
        background: 0 0;
        border: 1px dashed #888;
    }
    body {
        overflow: visible!important;
    }
    .box {
            position: relative;
        }
    .box img {
        width: 350px;
        vertical-align: top;
        padding: 8px;
        border-radius: 10px;
        transition: all 0.5s;
    }
    .box img:hover {
        transform: scale(1.05);
    }
    .page-footer {
        display: none
    }
    body {
        overflow-y: visible!important;
    }
    header {
        background-color: #000;
    }
    .biaotiss {
            font-family: MV Boli;
        }   
    @media only screen and (max-width: 1058px) {
        .box {
            margin-left: 145px;
        }
    }
    @media only screen and (max-width: 770px) {
        .box {
            margin-left: 15px;
        }
    }
    @media only screen and (max-width: 500px) {
        #previous-button, #next-button {
            display: none;
        }
    }
    @media only screen and (max-width: 380px) {
        .box {
            margin-left: -5px;
        }
    }
    @media only screen and (max-width: 323px) {
        .box img {
            width: 296px;
            left: 0;
        }
    }
</style>

<div class="tag-title center-align">
    <div class="miaoshus">
        <div class="title center-align">
<<<<<<< HEAD
            ‚Äú <% if (is_home() && config.subtitle && config.subtitle.length > 0) { %>
                <%= config.subtitle %>
            <% } else { %>
                <%= page.title %>
            <% } %> ‚Äù
        </div>
        ‚Äú <%- theme.gallery.title %> ‚Äù
        ‚Äú ËøôÈáåÊúâÂÖâÂΩ±ÊµÅÂπ¥ÔºåËøòÊúâ‰∏§ÊúµÁ©øË°£Ë£≥ÁöÑ‰∫ëÔºåÁõ∏Êã•Âú®ÊòéÂ§©ÁöÑÊ≤≥Â≤∏„ÄÇ‚Äù
    </div>
</div>

<!-- Áõ∏ÂÜå -->
=======
            °∞ <% if (is_home() && config.subtitle && config.subtitle.length > 0) { %>
                <%= config.subtitle %>
            <% } else { %>
                <%= page.title %>
            <% } %> °±
        </div>
        °∞ <%- theme.gallery.title %> °±
        °∞ ’‚¿Ô”–π‚”∞¡˜ƒÍ£¨ªπ”–¡Ω∂‰¥©“¬…—µƒ‘∆£¨œ‡”µ‘⁄√˜ÃÏµƒ∫”∞∂°£°±
    </div>
</div>

<!-- œ‡≤· -->
>>>>>>> 0e42d1996ebec40afa00e2fc65351f41fd85d46e
<section class="gallery">
    <div id="myGallery" class="my-gallery">
        <div class="row">
            <div class="box">
            <% if (site.data && site.data.gallery) { %>
                <% var galleries = site.data.gallery; 
                    var pageTitle = page.title;
                    function getCurrentGallery(galleries, pageTitle) {
                        for (let i = 0; i < galleries.length; i++) {
                            if (galleries[i]['name'] == pageTitle) {
                                return galleries[i];
                            }
                        }
                    }
                    var currentGallery = getCurrentGallery(galleries, pageTitle);
                    var photos = currentGallery.album;
                %>
                <% for (var i = 0, len = photos.length; i < len; i++) { %>
                    <% var my_album = photos[i]; %>                   
                        <a href="<%- my_album.img_url %>" data-caption="<%- my_album.title %>">
                            <img class="mat" src="/medias/loading.svg" data-src="<%- my_album.img_url %>" alt="img"+<%- i %> >
                        </a>                   
                <% } %>
            <% } %>
        </div>
        </div>
    </div>
</section>
<script>
    $(function () {
<<<<<<< HEAD
        // Ëé∑ÂèñÂõæÁâáÁöÑÂÆΩÂ∫¶(200px)
        let imgWidth = $('.mat').outerWidth(); // 200
        waterfallHandler();
        // ÁÄëÂ∏ÉÊµÅÂ§ÑÁêÜ
        function waterfallHandler() {
            // Ëé∑ÂèñÂõæÁâáÁöÑÂàóÊï∞
            let column = parseInt($(window).width() / imgWidth);
            // È´òÂ∫¶Êï∞ÁªÑ
=======
        // ªÒ»°Õº∆¨µƒøÌ∂»(200px)
        let imgWidth = $('.mat').outerWidth(); // 200
        waterfallHandler();
        // ∆Ÿ≤º¡˜¥¶¿Ì
        function waterfallHandler() {
            // ªÒ»°Õº∆¨µƒ¡– ˝
            let column = parseInt($(window).width() / imgWidth);
            // ∏ﬂ∂» ˝◊È
>>>>>>> 0e42d1996ebec40afa00e2fc65351f41fd85d46e
            let heightArr = [];
            for(let i=0; i<column; i++) {
                heightArr[i] = 0;
            }
<<<<<<< HEAD
            // ÈÅçÂéÜÊâÄÊúâÂõæÁâáËøõË°åÂÆö‰ΩçÂ§ÑÁêÜ
            $.each($('.mat'), function (index, item) {
                // ÂΩìÂâçÂÖÉÁ¥†ÁöÑÈ´òÂ∫¶
                let itemHeight = $(item).outerHeight();
                // È´òÂ∫¶Êï∞ÁªÑÊúÄÂ∞èÁöÑÈ´òÂ∫¶
                let minHeight = Math.min(...heightArr);
                // È´òÂ∫¶Êï∞ÁªÑÊúÄÂ∞èÁöÑÈ´òÂ∫¶ÁöÑÁ¥¢Âºï
=======
            // ±È¿˙À˘”–Õº∆¨Ω¯––∂®Œª¥¶¿Ì
            $.each($('.mat'), function (index, item) {
                // µ±«∞‘™Àÿµƒ∏ﬂ∂»
                let itemHeight = $(item).outerHeight();
                // ∏ﬂ∂» ˝◊È◊Ó–°µƒ∏ﬂ∂»
                let minHeight = Math.min(...heightArr);
                // ∏ﬂ∂» ˝◊È◊Ó–°µƒ∏ﬂ∂»µƒÀ˜“˝
>>>>>>> 0e42d1996ebec40afa00e2fc65351f41fd85d46e
                let minIndex = heightArr.indexOf(minHeight);
                
                $(item).css({
                    position: 'absolute',
                    top: minHeight + 'px',
                    left: minIndex * imgWidth + 'px'
                });
                heightArr[minIndex] += itemHeight;
            });
        }
<<<<<<< HEAD
        // Á™óÂè£Â§ßÂ∞èÊîπÂèò
=======
        // ¥∞ø⁄¥Û–°∏ƒ±‰
>>>>>>> 0e42d1996ebec40afa00e2fc65351f41fd85d46e
        $(window).resize(function () {
            waterfallHandler();
        });
    });
</script>
<script>
    baguetteBox.run('.gallery', {
<<<<<<< HEAD
        // ÈÖçÁΩÆÂèÇÊï∞
        buttons:Boolean,//ÊòØÂê¶ÊòæÁ§∫ÂØºËà™ÊåâÈíÆ„ÄÇ
        noScrollbars:true,//ÊòØÂê¶Âú®ÊòæÁ§∫Êó∂ÈöêËóèÊªöÂä®Êù°„ÄÇ
        titleTag:true,//ÊòØÂê¶‰ΩøÁî®ÂõæÁâá‰∏äÁöÑtitleÂ±ûÊÄß‰Ωú‰∏∫ÂõæÁâáÊ†áÈ¢ò
        async:true,//ÊòØÂê¶ÂºÇÊ≠•Âä†ËΩΩÊñá‰ª∂„ÄÇ
=======
        // ≈‰÷√≤Œ ˝
        buttons:Boolean,// «∑Òœ‘ æµº∫Ω∞¥≈•°£
        noScrollbars:true,// «∑Ò‘⁄œ‘ æ ±“˛≤ÿπˆ∂ØÃı°£
        titleTag:true,// «∑Ò π”√Õº∆¨…œµƒtitle Ù–‘◊˜Œ™Õº∆¨±ÍÃ‚
        async:false,// «∑Ò“Ï≤Ωº”‘ÿŒƒº˛°£
>>>>>>> 0e42d1996ebec40afa00e2fc65351f41fd85d46e
    });

    start()
        $(window).on('scroll', function(){
        start();
    })

    function start(){
<<<<<<< HEAD
          //.not('[data-isLoaded]')ÈÄâ‰∏≠Â∑≤Âä†ËΩΩÁöÑÂõæÁâá‰∏çÈúÄË¶ÅÈáçÊñ∞Âä†ËΩΩ
=======
          //.not('[data-isLoaded]')—°÷–“—º”‘ÿµƒÕº∆¨≤ª–Ë“™÷ÿ–¬º”‘ÿ
>>>>>>> 0e42d1996ebec40afa00e2fc65351f41fd85d46e
        $('.gallery img').not('[data-isLoaded]').each(function(){
            var $node = $(this)
            if( isShow($node) ){
                loadImg($node);
            }
        });
    }

<<<<<<< HEAD
    //Âà§Êñ≠‰∏Ä‰∏™ÂÖÉÁ¥†ÊòØ‰∏çÊòØÂá∫Áé∞Âú®Á™óÂè£(ËßÜÈáé)
    function isShow($node){
        return $node.offset().top <= $(window).height() + $(window).scrollTop();
    }
    //Âä†ËΩΩÂõæÁâá
    function loadImg($img){
    //.attr(ÂÄº)
    //.attr(Â±ûÊÄßÂêçÁß∞,ÂÄº)
        $img.attr('src', $img.attr('data-src')); //Êäädata-srcÁöÑÂÄº ËµãÂÄºÁªôsrc
        $img.attr('data-isLoaded', 1);//Â∑≤Âä†ËΩΩÁöÑÂõæÁâáÂÅöÊ†áËÆ∞
=======
    //≈–∂œ“ª∏ˆ‘™Àÿ «≤ª «≥ˆœ÷‘⁄¥∞ø⁄( ”“∞)
    function isShow($node){
        return $node.offset().top <= $(window).height() + $(window).scrollTop();
    }
    //º”‘ÿÕº∆¨
    function loadImg($img){
    //.attr(÷µ)
    //.attr( Ù–‘√˚≥∆,÷µ)
        $img.attr('src', $img.attr('data-src')); //∞—data-srcµƒ÷µ ∏≥÷µ∏¯src
        $img.attr('data-isLoaded', 1);//“—º”‘ÿµƒÕº∆¨◊ˆ±Íº«
>>>>>>> 0e42d1996ebec40afa00e2fc65351f41fd85d46e
    }
</script>